<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Let us now load the ipython-sql  extension and establish a connection with the database

* Here you will be loading the csv files into the pandas Dataframe and then loading the data into the above mentioned sqlite tables.

* Next you will be connecting to the sqlite database  **FinalDB**.

Refer to the previous lab for hints .

<a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing_SQLite.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

In [2]:
%load_ext sql

In [3]:
import csv,sqlite3
con=sqlite3.connect("FinalDB.db")
cur=con.cursor()

In [4]:
!pip install -q pandas==1.1.5

In [5]:
%sql sqlite:///FinalDB.db

'Connected: @FinalDB.db'

In [6]:
import pandas
df=pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")
df.to_sql("Census_Data",con,if_exists='replace',index=False,method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv")
df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False, method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA", con, if_exists='replace', index=False, method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [ ]:
%sql select count(*) "total number of crimes" from chicago_crime_data ;

### Problem 2

##### List community areas with per capita income less than 11000.

In [ ]:
%sql select COMMUNITY_AREA_NAME,PER_CAPITA_INCOME from census_data where PER_CAPITA_INCOME<11000;

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [11]:
%sql select * from chicago_crime_data limit 50 ;

 * sqlite:///FinalDB.db
Done.

[(3512276, 'HK587712', '2004-08-28', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 0, 0, 911, 9, 14.0, 58.0, '6', 1155838.0, 1873050.0, 2004, 41.8074405, -87.70395585, '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', '2004-06-26', '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 0, 0, 1112, 11, 27.0, 23.0, '6', 1152206.0, 1906127.0, 2004, 41.89827996, -87.71640551, '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', '2011-04-04', '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 0, 0, 221, 2, 3.0, 38.0, '6', 1177436.0, 1876313.0, 2011, 41.81593313, -87.62464213, '(41.815933131, -87.624642127)'),
 (7903289, 'HT133522', '2010-12-30', '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 0, 0, 423, 4, 7.0, 46.0, '6', 1194622.0, 1850125.0, 2010, 41.74366532, -87.56246276, '(41.743665322, -87.562462756)'),
 (10402076, 'HZ138551', '2016-02-02', '033XX W 66TH ST', '820', 'THEFT', '$500 AND UNDER', 'ALLEY', 0, 0, 831, 8, 15.0, 66.0, '6', 1155240.0, 1860661.0, 2016, 41.7734553, -87.70648047, '(41.773455295, -87.706480471)'),
 (7732712, 'HS540106', '2010-09-29', '006XX W CHICAGO AVE', '810', 'THEFT', 'OVER $500', 'PARKING LOT/GARAGE(NON.RESID.)', 0, 0, 1323, 12, 27.0, 24.0, '6', 1171668.0, 1905607.0, 2010, 41.89644677, -87.64493868, '(41.896446772, -87.644938678)'),
 (10769475, 'HZ534771', '2016-11-30', '050XX N KEDZIE AVE', '810', 'THEFT', 'OVER $500', 'STREET', 0, 0, 1713, 17, 33.0, 14.0, '6', 1154133.0, 1933314.0, 2016, 41.97284491, -87.70860008, '(41.972844913, -87.708600079)'),
 (4494340, 'HL793243', '2005-12-16', '005XX E PERSHING RD', '860', 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', 1, 0, 213, 2, 3.0, 38.0, '6', 1180448.0, 1879234.0, 2005, 41.82387989, -87.61350386, '(41.823879885, -87.613503857)'),
 (3778925, 'HL149610', '2005-01-28', '100XX S WASHTENAW AVE', '810', 'THEFT', 'OVER $500', 'STREET', 0, 0, 2211, 22, 19.0, 72.0, '6', 1160129.0, 1838040.0, 2005, 41.71128051, -87.6891791, '(41.711280513, -87.689179097)'),
 (3324217, 'HK361551', '2004-05-13', '033XX W BELMONT AVE', '820', 'THEFT', '$500 AND UNDER', 'SMALL RETAIL STORE', 0, 0, 1733, 17, 35.0, 21.0, '6', 1153590.0, 1921084.0, 2004, 41.93929582, -87.71092344, '(41.939295821, -87.710923442)'),
 (9902691, 'HX552797', '2014-12-23', '076XX S CICERO AVE', '860', 'THEFT', 'RETAIL THEFT', 'DEPARTMENT STORE', 1, 0, 833, 8, 13.0, 65.0, '6', 1145727.0, 1853720.0, 2014, 41.75459296, -87.74152854, '(41.754592961, -87.741528537)'),
 (7947964, 'HT180228', '2011-02-26', '012XX S HALSTED ST', '820', 'THEFT', '$500 AND UNDER', 'BAR OR TAVERN', 0, 0, 1232, 12, 25.0, 28.0, '6', 1171230.0, 1894421.0, 2011, 41.86576126, -87.64687598, '(41.865761261, -87.646875977)'),
 (8568365, 'HV243612', '2012-04-15', '108XX S EMERALD AVE', '820', 'THEFT', '$500 AND UNDER', 'RESIDENTIAL YARD (FRONT/BACK)', 0, 0, 2233, 22, 34.0, 49.0, '6', 1173239.0, 1832994.0, 2012, 41.69715437, -87.64131567, '(41.697154372, -87.641315669)'),
 (5343947, 'HN200365', '2007-02-26', '011XX S CANAL ST', '842', 'THEFT', 'AGG: FINANCIAL ID THEFT', 'OTHER', 0, 0, 131, 1, 2.0, 28.0, '6', 1173307.0, 1895342.0, 2007, 41.86824272, -87.63922391, '(41.868242722, -87.639223912)'),
 (3121541, 'HK108680', '2003-01-05', '038XX W FLOURNOY ST', '890', 'THEFT', 'FROM BUILDING', 'RESIDENCE PORCH/HALLWAY', 0, 0, 1133, 11, 24.0, 26.0, '6', 1150808.0, 1896753.0, 2003, 41.87258418, -87.72178565, '(41.872584178, -87.72178565)'),
 (10209850, 'HY396729', '2015-08-24', '026XX N ELSTON AVE', '820', 'THEFT', '$500 AND UNDER', 'PARKING LOT/GARAGE(NON.RESID.)', 0, 0, 1432, 14, 1.0, 22.0, '6', 1160867.0, 1917657.0, 2015, 41.92974382, -87.68427378, '(41.929743818, -87.684273777)'),
 (6866556, 'HR271603', '2009-04-16', '089XX S STONY ISLAND AVE', '860', 'THEFT', 'RETAIL THEFT', 'OTHER', 1, 0, 413, 4, 8.0, 48.0, '6', 1188475.0, 1846086.0, 2009, 41.73273081, -87.58511413, '(41.732730806, -87.585114125)'),
 (9681782, 'HX332132', '2014-07-04', '079XX S STATE ST', '820', 'THEFT', '$500 AND UNDER', 'CTA PLATFORM', 0, 0, 623, 6, 6.0, 44.0, '6', 1177660.0, 1852569.0, 2014, 41.75077211, -87.62453842, '(41.750772111, -87.624538423)'),
 (9166453, 'HW303994', '2013-06-04', '055XX W GLADYS AVE', '810', 'THEFT', 'OVER $500', 'VACANT LOT/LAND', 0, 0, 1522, 15, 29.0, 25.0, '6', 1139693.0, 1897797.0, 2013, 41.87565911, -87.76256886, '(41.875659108, -87.762568861)'),
 (7762423, 'HS569246', '2010-10-17', '058XX W ARTHINGTON ST', '880', 'THEFT', 'PURSE-SNATCHING', 'SIDEWALK', 0, 0, 1513, 15, 29.0, 25.0, '6', 1137635.0, 1895420.0, 2010, 41.8691736, -87.77018245, '(41.869173601, -87.770182447)'),
 (10046030, 'HY234744', '2015-04-24', '008XX N MICHIGAN AVE', '860', 'THEFT', 'RETAIL THEFT', 'DEPARTMENT STORE', 1, 0, 1833, 18, 42.0, 8.0, '6', 1177338.0, 1906213.0, 2015, 41.89798294, -87.62409563, '(41.897982937, -87.624095634)'),
 (6233210, 'HP320451', '2008-05-06', '0000X S STATE ST', '860', 'THEFT', 'RETAIL THEFT', 'DEPARTMENT STORE', 0, 0, 123, 1, 42.0, 32.0, '6', 1176390.0, 1900234.0, 2008, 41.8815977, -87.62775808, '(41.881597699, -87.627758082)'),
 (5677874, 'HN484464', '2007-07-22', '0000X E 69TH ST', '820', 'THEFT', '$500 AND UNDER', 'STREET', 0, 0, 322, 3, 20.0, 69.0, '6', 1178177.0, 1859290.0, 2007, 41.76920358, -87.62244037, '(41.769203583, -87.622440369)'),
 (11230490, 'JB151690', '2018-02-14', '036XX S ARCHER AVE', '860', 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', 1, 0, 912, 9, 11.0, 59.0, '6', 1161614.0, 1880357.0, 2018, 41.82737375, -87.68256806, '(41.827373751, -87.682568055)'),
 (7172285, 'HR582990', '2009-10-11', '060XX S HALSTED ST', '810', 'THEFT', 'OVER $500', 'STREET', 0, 0, 712, 7, 16.0, 68.0, '6', 1171999.0, 1865041.0, 2009, 41.78512289, -87.64491718, '(41.785122891, -87.644917177)'),
 (7125811, 'HR535632', '2009-09-13', '044XX N ELSTON AVE', '820', 'THEFT', '$500 AND UNDER', 'ATHLETIC CLUB', 0, 0, 1722, 17, 39.0, 14.0, '6', 1148062.0, 1929262.0, 2009, 41.96184525, -87.7310293, '(41.961845248, -87.731029303)'),
 (2219750, 'HH486939', '2002-07-03', '100XX W OHARE ST', '870', 'THEFT', 'POCKET-PICKING', 'AIRPORT/AIRCRAFT', 0, 0, 1651, 16, 41.0, 76.0, '6', 1100658.0, 1934241.0, 2002, 41.97629041, -87.90522722, '(41.976290414, -87.905227221)'),
 (9296677, 'HW441620', '2013-09-07', '066XX S WESTERN AVE', '820', 'THEFT', '$500 AND UNDER', 'STREET', 0, 0, 832, 8, 15.0, 66.0, '6', 1161515.0, 1860616.0, 2013, 41.773204, -87.68347884, '(41.773203996, -87.68347884)'),
 (2889910, 'HJ561433', '2003-08-13', '104XX S HALSTED ST', '810', 'THEFT', 'OVER $500', 'PARKING LOT/GARAGE(NON.RESID.)', 0, 0, 2233, 22, 34.0, 73.0, '6', 1172824.0, 1835651.0, 2003, 41.70445472, -87.64275716, '(41.704454724, -87.642757155)'),
 (7173960, 'HR583513', '2009-10-11', '079XX S PARNELL AVE', '810', 'THEFT', 'OVER $500', 'STREET', 0, 0, 621, 6, 17.0, 44.0, '6', 1174008.0, 1852295.0, 2009, 41.750102, -87.63792916, '(41.750101999, -87.637929163)'),
 (9859793, 'HX509438', '2014-11-16', '002XX S MICHIGAN AVE', '890', 'THEFT', 'FROM BUILDING', 'OTHER', 0, 0, 113, 1, 42.0, 32.0, '6', 1177328.0, 1899333.0, 2014, 41.87910409, -87.62434115, '(41.879104092, -87.62434115)'),
 (7868443, 'HS681158', '2010-12-21', '036XX S GILES AVE', '810', 'THEFT', 'OVER $500', 'APARTMENT', 0, 0, 212, 2, 2.0, 35.0, '6', 1178860.0, 1880905.0, 2010, 41.8285016, -87.61927867, '(41.828501601, -87.61927867)'),
 (3314082, 'HK350670', '2004-05-07', '031XX N BROADWAY', '860', 'THEFT', 'RETAIL THEFT', 'SMALL RETAIL STORE', 0, 0, 2332, 19, 44.0, 6.0, '6', 1171693.0, 1921311.0, 2004, 41.93953877, -87.64438351, '(41.939538767, -87.644383505)'),
 (1516518, 'G256545', '2001-05-04', '045XX S DAMEN AV', '820', 'THEFT', '$500 AND UNDER', 'SMALL RETAIL STORE', 1, 0, 914, 9, None, None, '6', 1163610.0, 1874345.0, 2001, 41.81083442, -87.6754139, '(41.810834416, -87.675413895)'),
 (10952376, 'JA272438', '2017-05-20', '028XX W 21ST ST', '820', 'THEFT', '$500 AND UNDER', 'SIDEWALK', 0, 0, 1023, 10, 12.0, 30.0, '6', 1157493.0, 1889929.0, 2017, 41.85372509, -87.69742748, '(41.853725089, -87.697427476)'),
 (2000970, 'HH201585', '2002-02-22', '024XX N MILWAUKEE AV', '810', 'THEFT', 'OVER $500', 'BAR OR TAVERN', 0, 0, 1414, 14, None, None, '6', 1156341.0, 1915936.0, 2002, 41.92511408, -87.70095228, '(41.925114077, -87.700952275)'),
 (1476982, 'G212935', '2001-04-14', '007XX N GREEN ST', '850', 'THEFT', 'ATTEMPT THEFT', 'MOVIE HOUSE/THEATER', 0, 0, 1323, 12, None, None, '6', 1170623.0, 1905487.0, 2001, 41.89614043, -87.64878026, '(41.896140428, -87.648780261)'),
 (4273693, 'HL590300', '2005-08-31', '009XX N SACRAMENTO BLVD', '810', 'THEFT', 'OVER $500', 'STREET', 0, 0, 1311, 12, 26.0, 23.0, '6', 1156004.0, 1906299.0, 2005, 41.89867615, -87.70245104, '(41.898676154, -87.702451037)'),
 (4067549, 'HL409680', '2005-06-09', '069XX S SANGAMON ST', '820', 'THEFT', '$500 AND UNDER', 'STREET', 0, 0, 733, 7, 17.0, 68.0, '6', 1171170.0, 1858915.0, 2005, 41.76833059, -87.64813561, '(41.768330593, -87.648135609)'),
 (4718689, 'HM324025', '2006-05-01', '0000X W ELM ST', '860', 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', 1, 0, 1824, 18, 42.0, 8.0, '6', 1175504.0, 1908078.0, 2006, 41.903142, -87.63077557, '(41.903141995, -87.63077557)'),
 (1845995, 'G662598', '2001-11-03', '0000X N STATE ST', '820', 'THEFT', '$500 AND UNDER', 'DEPARTMENT STORE', 1, 0, 122, 1, None, None, '6', 1176398.0, 1900691.0, 2001, 41.88285155, -87.62771491, '(41.882851552, -87.627714909)'),
 (8678872, 'HV353560', '2012-04-15', '072XX S PAXTON AVE', '890', 'THEFT', 'FROM BUILDING', 'RESIDENCE', 0, 0, 333, 3, 5.0, 43.0, '6', 1192140.0, 1857319.0, 2012, 41.76346691, -87.57132336, '(41.763466911, -87.571323359)'),
 (6855661, 'HR261581', '2009-04-10', '017XX W CERMAK RD', '860', 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', 1, 0, 1034, 10, 25.0, 31.0, '6', 1165218.0, 1889459.0, 2009, 41.85227488, -87.66908723, '(41.852274879, -87.66908723)'),
 (4385612, 'HL680775', '2005-10-14', '017XX N HERMITAGE AVE', '820', 'THEFT', '$500 AND UNDER', 'VEHICLE NON-COMMERCIAL', 0, 0, 1433, 14, 32.0, 24.0, '6', 1164410.0, 1911688.0, 2005, 41.91329017, -87.67142355, '(41.913290173, -87.671423547)'),
 (4929211, 'HM543491', '2006-06-29', '021XX W ROSCOE ST', '810', 'THEFT', 'OVER $500', 'STREET', 0, 0, 1913, 19, 32.0, 5.0, '6', 1161308.0, 1922552.0, 2006, 41.94316683, -87.68251667, '(41.943166826, -87.682516667)'),
 (9978032, 'HY167451', '2015-02-27', '063XX S YALE AVE', '820', 'THEFT', '$500 AND UNDER', 'SIDEWALK', 0, 0, 722, 7, 20.0, 68.0, '6', 1175585.0, 1863128.0, 2015, 41.77979388, -87.63182661, '(41.779793875, -87.631826613)'),
 (10190267, 'HY377901', '2015-08-10', '026XX N MILWAUKEE AVE', '810', 'THEFT', 'OVER $500', 'SIDEWALK', 0, 0, 1412, 14, 35.0, 22.0, '6', 1154504.0, 1917426.0, 2015, 41.92923973, -87.70766234, '(41.929239732, -87.707662339)'),
 (9575333, 'HX225704', '2014-04-16', '002XX W MONROE ST', '890', 'THEFT', 'FROM BUILDING', 'RESTAURANT', 0, 0, 122, 1, 2.0, 32.0, '6', 1174585.0, 1899875.0, 2014, 41.88065311, -87.63439665, '(41.880653112, -87.634396649)'),
 (2688426, 'HJ308632', '2003-04-17', '017XX N AUSTIN AVE', '810', 'THEFT', 'OVER $500', 'RESIDENCE-GARAGE', 0, 0, 2531, 25, 29.0, 25.0, '6', 1136138.0, 1910943.0, 2003, 41.91179756, -87.77530779, '(41.911797557, -87.775307788)'),
 (8854340, 'HV528008', '2012-10-20', '029XX N LAKE SHORE DR', '890', 'THEFT', 'FROM BUILDING', 'NURSING HOME/RETIREMENT HOME', 0, 0, 1934, 19, 44.0, 6.0, '6', 1173772.0, 1920055.0, 2012, 41.93604616, -87.63678016, '(41.936046155, -87.636780157)')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [23]:
%sql select * from chicago_crime_data where PRIMARY_TYPE="KIDNAPPING"  ;

 * sqlite:///FinalDB.db
Done.

[(5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [24]:
%sql select  primary_type,description,LOCATION_DESCRIPTION from chicago_crime_data where LOCATION_DESCRIPTION like"%school%"  ;

 * sqlite:///FinalDB.db
Done.

[('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'TO VEHICLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'POSS: HEROIN(WHITE)', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPASS', 'TO LAND', 'SCHOOL, PUBLIC, GROUNDS'),
 ('PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PRIVATE, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PUBLIC, BUILDING')]

### Problem 6

##### List the average safety score for each type of school.

In [17]:
%sql select "Elementary, Middle, or High School",avg(safety_score) from "CHICAGO_PUBLIC_SCHOOLS_DATA"  group by "Elementary, Middle, or High School" limit 5;

 * sqlite:///FinalDB.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [20]:
%sql select COMMUNITY_AREA_NAME,PERCENT_HOUSEHOLDS_BELOW_POVERTY from Census_Data order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc nulls last limit 5;

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone?

In [26]:
%sql select community_area_name,community_area_number from census_data where community_area_number =25;

 * sqlite:///FinalDB.db
Done.

[('Austin', 25.0)]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [29]:
%sql select COMMUNITY_AREA_NAME,HARDSHIP_INDEX from census_data where HARDSHIP_INDEX=(select max(HARDSHIP_INDEX) from census_data) ;

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 98.0)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [43]:
%%sql SELECT cd.COMMUNITY_AREA_NUMBER, cs.COMMUNITY_AREA_Name
FROM chicago_crime_data cd
JOIN census_data cs ON cd.COMMUNITY_AREA_NUMBER = cs.COMMUNITY_AREA_NUMBER
WHERE cd.COMMUNITY_AREA_NUMBER = (
    SELECT COMMUNITY_AREA_NUMBER
    FROM (
        SELECT COMMUNITY_AREA_NUMBER, COUNT(*) as area_count
        FROM chicago_crime_data
        GROUP BY COMMUNITY_AREA_NUMBER
        ORDER BY area_count DESC
        LIMIT 1
    ) subquery 
)limit 1;

 * sqlite:///FinalDB.db
Done.

[(25.0, 'Austin')]

Copyright © 2020 This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>